@import "colors";
@import "mixins";


.sidebar {
  @include intrinsic(width, min-content);
  height: 100vh;
  overflow: hidden;
  background-color: $secondary;
  color: $light;
  z-index: 99;

  flex-shrink: 0;

  // put sign out button on the bottom
  display: flex;
  flex-direction: column;

  #sidebar_header {
    background-color: $primary;
    display: flex;

    img {
      margin: auto;
      height: 70px;
      padding: 1rem;
      width: auto;
    }

    h1 {
      padding: 1rem 1rem 1rem 0;
      margin: auto;
      font-size: 1.2em;
      font-weight: 700;
      color: $light;

    }
  }

  a {
    display: block;
    text-decoration: none;
    color: $light;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    padding: 0;
    margin: 0;
    opacity: .8;

    cursor: pointer;

    @include transition (all, 0.2s, ease);

    a {
      padding: 0.15rem 0 0.15rem 1rem;
      margin: 0;
    }
  }

  li:hover {
    background-color: $secondary-lighter;
    opacity: 1;
  }

  .sidebar_items_main {
    flex-grow: 1;
  }
}
