<div class="main_col">
	<h1>Categories</h1>

	<div class="table_header">
		<a class="button" href="#!/categories/new">ADD</a>
		<input type="text" placeholder="SEARCH">
	</div>
	<div class="tableView">
		<div class="tableView-row" ng-repeat="category in categories">
			<div class="tableView-title">
				<a href="#!/categories/edit/{{category.firebasekey}}">
					{{category.name}}
				</a>
			</div>
			<div class="tableView-action">
				<a class="tableView-action-link"
				   href="#!/categories/edit/{{category.firebasekey}}">
				   EDIT
			   </a>
		   </div>
		</div>
	</div>
	<div class="pagination">{PAGINATION}</div>
</div>
