<div class="main_col">
	<h1>Counties</h1>

	<div class="table_header">
		<a class="button" href="#!/counties/new">ADD</a>
		<form ng-submit="submit()" name="searchForm">
			<input type="text" placeholder="SEARCH" ng-model="search" ng-change="searchChanged()">
		</form>	</div>
	<div class="tableView">
		<div class="tableView-row" ng-repeat="county in displayedCounties">
			<div class="tableView-title">
				<a href="#!/counties/edit/{{county.firebasekey}}">
					{{county.name}}
				</a>
			</div>
			<div class="tableView-action">
				<a class="tableView-action-link"
				   href="#!/counties/edit/{{county.firebasekey}}">
				   EDIT
			   </a>
		   </div>
		</div>
	</div>
	<div class="pagination">{PAGINATION}</div>
</div>
