<div class="main_col">
	<h1 id="action_title" class="edit_page_header">{{header}}</h1>
	<p style="display: none;" class="result_message">Error</p>
	<form class="edit_form" id="edit_form" onsubmit="alert('submit')">
		<div class="form_element">
			<label id="name_label" class="{NAME_REQUIRED} left_label" for="name">NAME</label>
			<input id="name" name="name" type="text" style="width: 400px" placeholder="NAME" value="">
		</div>

		<div class="form_element">
			<label id="desc_label" class="{DESC_REQUIRED} left_label" for="desc">DESCRIPTION</label>
			<textarea id="desc" name="desc" style="width: 100%; height: 300px;"></textarea>
		</div>

		<div class="form_element">
			<label id="icon_label" class="left_label" for="icon">ICON</label>
			<div>
				<select id="icon" name="icon">
					<option ng-repeat="icon in icons" value="categories/{{icon}}">{{icon}}</option>
				</select>
				<img id="icon_preview" style="display: none" src="/">
			</div>
		</div>
	</form>
</div>

<div class="the_bottom">
	<div class="bottom_elements">
		<button id="cancel" onclick="alert('canceled')">CANCEL</button>
		<button id="save" type="submit" form="edit_form">SAVE</button>
	</div>
</div>
