<div class="main_col">
    <h1 id="action_title" class="edit_page_header">{{header}}</h1>
    <p ng-show="success" class="result_message">Successfully saved resource</p>
    <p class="result_message required" ng-show="errmsg">There was an issue saving the resource: {{errmsg}}</p>
    <form class="edit_form" id="edit_form" name="resourceForm" ng-submit="saveResource()">
        <div class="form_element">
            <label id="name_label" class="form_left_col" for="name">NAME</label>
            <input id="name" class="form_right_col" name="name" type="text" ng-model="resource.name" placeholder="NAME">
        </div>

        <!-- CATEGORIES -->
        <div class="form_element">
            <label id="categories_label" class="form_left_col">CATEGORIES</label>
            <fieldset class="multi-checkbox form_right_col">
                    <div class="checkbox_item" ng-repeat="category in allCategories">
                        <checkbox id="cat_{{category.id}}" ng-model="enabledCategories[category.id]"
                                  data-label="{{category.name}}"></checkbox>
                    </div>
            </fieldset>
        </div>

        <!-- COUNTIES -->
        <div class="form_element">
            <label id="counties_label" class="form_left_col">COUNTIES</label>
            <fieldset class="multi-checkbox form_right_col">
                <div class="checkbox_item" ng-repeat="county in allCounties">
                    <checkbox id="cat_{{county.id}}" ng-model="enabledCounties[county.id]"
                              data-label="{{county.name}}"></checkbox>
                </div>
            </fieldset>
        </div>

        <!--  TAGS  -->
        <div class="form_element">
            <div class="form_left_col">
                <label id="tags_label" for="desc">TAGS</label>
                <p>
                    <small>Separate by space</small>
                </p>
            </div>
            <div  class="form_right_col">
                <input id="tags" name="tags" ng-model="resource.tags">
            </div>
        </div>

        <h4>CONTACT</h4>
        <div class="dynamic-form" id="contact">
            <div ng-repeat="contact in resource.contact" class="form_element slide" id="contact_{{$index}}">
                <div class="form_left_col">
                    <button class="delete_button" type="button" ng-click="deleteContact($index)">DELETE</button>
                </div>
                <div class="dynamic_fieldset contact form_right_col">
                    <select class="contact_input type" name="contact[{{$index}}][typeInt]"
                            ng-model="contact.typeInt">
                        <option ng-value="0">PHONE</option>
                        <option ng-value="1">EMAIL</option>
                        <option ng-value="2">WEBSITE</option>
                        <option ng-value="3">FAX</option>
                    </select>
                    <input type="text" class="contact_input name" placeholder="NAME"
                           name="contact[{{$index}}][name]" ng-model="contact.name">
                    <input type="text" class="contact_input value" placeholder="VALUE"
                           name="contact[{{$index}}][value]" ng-model="contact.value">
                </div>
            </div>
        </div>

        <div class="form_element" id="new_contact_container">
            <div class="form_left_col"></div>
            <div class="form_right_col">
                <button type="button" id="new_contact_button" ng-click="addContact()">
                    NEW CONTACT
                </button>
            </div>
        </div>

        <h4>LOCATIONS</h4>
        <div class="dynamic-form" id="addresses">
            <div ng-repeat="address in resource.locations" class="form_element slide" id="address_{{address.id}}">
                <div class="form_left_col">
                    <button class="delete_button" type="button" ng-click="deleteAddress(address)">DELETE</button>
                </div>
                <fieldset class="dynamic_fieldset form_right_col">
                    <input type="text" class="address_input desc"
                           placeholder="DESCRIPTION" name="address[{{address.id}}][desc]"
                           ng-model="address.desc">
                    <input type="text" class="address_input street1"
                           placeholder="STREET 1" name="address[{{address.id}}][street1]"
                           ng-model="address.street1">
                    <input type="text" class="address_input street2"
                           placeholder="STREET 2" name="address[{{address.id}}][street2]"
                           ng-model="address.street2">
                    <input type="text" class="address_input city"
                           placeholder="CITY" name="address[{{address.id}}][city]"
                           ng-model="address.city">
                    <input type="text" class="address_input state"
                           placeholder="STATE" name="address[{{address.id}}][state]"
                           ng-model="address.state">
                    <input type="text" class="address_input zip"
                           placeholder="ZIP" name="address[{{address.id}}][zip]"
                           ng-model="address.zip">
                    <input type="hidden" class="address_input id" name="address[address.id}}][id]"
                           ng-model="address.id">
                </fieldset>
            </div>
        </div>

        <div class="form_element" id="new_address_container">
            <div class="form_left_col"></div>
            <div class="form_right_col">
                <button type="button" id="new_address_button" ng-click="addAddress()">NEW
                    LOCATION
                </button>
            </div>
        </div>

        <h4>INFORMATION</h4>

        <!--  SERVICES  -->
        <div class="form_element">
            <label id="services_label" class="form_left_col" for="services">SERVICES</label>
            <textarea id="services" class="form_right_col" name="services" style="height: 300px;" ng-model="resource.services"></textarea>
        </div>

        <!--  DOCUMENTATION  -->
        <div class="form_element">
            <label id="documentation_label" class="form_left_col" for="documentation">DOCUMENTATION</label>
            <textarea id="documentation" class="form_right_col" name="documentation"
                      style="height: 300px;" ng-model="resource.documentation"></textarea>
        </div>

        <!--  HOURS  -->
        <div class="form_element">
            <label id="hours_label" class="form_left_col" for="hours">HOURS</label>
            <textarea id="hours" class="form_right_col" name="hours" style="height: 300px;" ng-model="resource.hours"></textarea>
        </div>

        <!--  DESCRIPTION  -->
        <div class="form_element">
            <label id="desc_label" class="form_left_col" for="desc">DESCRIPTION</label>
            <textarea id="desc" class="form_right_col" name="desc" style="height: 300px;" ng-model="resource.description"></textarea>
        </div>

        <!-- Multiple emails -->

        <!-- Multiple websites -->

        <!-- Multiple phones -->

        <!-- Multiple locations -->

        <div class="form_element">
            <div class="form_left_col"></div>
            <div class="form_right_col" style="font-size: 1.0rem">
                <p>Markdown is supported.</p>
                <pre>*Single Asterisks*</pre>
                is <em>italic</em>.
                <pre>**Double Asterisks**</pre>
                is <strong>bold</strong>.
                <p>Use Asterisks for bullet lists:</p>

                <pre>* Item 1
* Item 2
* Item 3</pre>

                <p>Will become</p>

                <ul>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                </ul>

                <p>And similarily,</p>

                <pre>1. Item 1
2. Item 2
3. Item 3</pre>

                <p>Will become</p>

                <ol>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                </ol>
            </div>
        </div>

        <div class="form_element">
            <button type="button" class="delete_button form_right_col"
                    ng-click="deleteResource()">DELETE RESOURCE</button>
        </div>
    </form>
</div>

<div class="the_bottom">
    <div class="bottom_elements">
        <button id="cancel" ng-click="cancel()">CANCEL</button>
        <button id="save" type="submit" form="edit_form" ng-disabled="resourceForm.$invalid || loading">{{saveBtnText}}</button>
    </div>
</div>
