<div class="main_col">
	<h1 id="action_title" class="edit_page_header">{{header}}</h1>
    <p ng-show="success" class="result_message">Successfully saved resource</p>
    <p class="result_message required" ng-show="errmsg">There was an issue saving the resource: {{errmsg}}</p>
	<form class="edit_form" name="categoryForm" id="edit_form" ng-submit="saveCategory()">
		<div class="form_element">
			<label id="name_label" class="{NAME_REQUIRED} form_left_col" for="name">NAME</label>
			<input id="name" name="name" type="text" ng-model="category.name" placeholder="NAME" value="">
		</div>

		<div class="form_element">
			<label id="desc_label" class="{DESC_REQUIRED} form_left_col" for="desc">DESCRIPTION</label>
			<textarea id="desc" name="desc" ng-model="category.description"></textarea>
		</div>

		<div class="form_element">
			<label id="icon_label" class="form_left_col" for="icon">ICON</label>
			<div>
				<select id="icon" name="icon" ng-model="category.icon" ng-options="icon for icon in icons">
<!--					<option ng-repeat="icon in icons" value="{{org}}/{{icon}}">{{icon}}</option>-->
				</select>
				<img id="icon_preview" style="display: none" src="/">
			</div>
		</div>
	</form>
</div>

<div class="the_bottom">
	<div class="bottom_elements">
		<button id="cancel" onclick="alert('canceled')">CANCEL</button>
		<button id="save" type="submit" form="edit_form" ng-disabled="categoryForm.$invalid || loading">{{saveBtnText}}</button>
	</div>
</div>
