<div class="main_col">
	<h1>Resources</h1>

	<div class="table_header">
		<a class="button" href="#!/resources/new">ADD</a>
		<search do-search="performSearch(searchVal)" clear-search="clearSearch()"></search>

	</div>
	<div class="tableView">
		<div class="tableView-row" ng-repeat="resource in displayedResources">
			<div class="tableView-title">
				<a href="#!/resources/edit/{{resource.firebasekey}}">
					{{resource.name}}
				</a>
			</div>
			<div class="tableView-action">
				<a class="tableView-action-link"
				   href="#!/resources/edit/{{resource.firebasekey}}">
				   EDIT
			   </a>
		   </div>
		</div>
	</div>
	<pagination items="searchFilteredResources" render-page="renderPage(page)"></pagination>
</div>
